html  
    //- Hay que tener en cuenta las tabulaciones que voy haciendo xq es donde se va metiendo el contenido
    head 
        title='mi primer plantilla con pug'
    body 
        h1=mensaje 
        //-Asi le ponemos el nombre mensaje, asi lo que lee el res.render pasa por aca (no se puede hacer un comment en la misma linea)