//-! PRIMERO CREAMOS UN LAYOUT (contenedor) que va a estar almacenando cosas (esto se agrego al ej);
html 
    head 
        title = 'MI primer plantilla de medidor en PugJS'
    body 
        //- ponemos los componentes dentro de la pagina
        block medidor
            //- el bloq medidor lo delcaramos dentro del archivo nivel